.actions-box{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        border-radius: 4px;
        border-top: 5px solid aqua;
        font-family: "RotondaC";
    }
}